<header>
  <h1 class="title">{{ title }}</h1>
</header>
<main>
  
  <h2>{{ description }}</h2>
  
  <img src="img/demo.gif">
  
  <pushNotification
    title="ng2-notifications"
    body="Directive for Native Push Notifications"
    icon="https://goo.gl/3eqeiE"
    closeDelay="2000">
  </pushNotification>
    
  <pushNotification
    title="ng2-notifications"
    body="Directive for Native Push Notifications"
    icon="https://goo.gl/3eqeiE"
    closeDelay="3000">
  </pushNotification>
  
</main>
