// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: #fff;
  padding:0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #000;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  margin: 40px;
}

img {
  width:50%;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
  text-align: center;
}

button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  color: white;
  background-color: crimson;
  font-size: 14px;
  border: 0;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 0.8em;
  width: 100%;
  position: absolute;
  bottom: 20px;
  
  a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
